{% if user.is_authenticated %}
<ul class="navbar-nav mr-auto ml-4">
    <li class="nav-item text-nowrap">
        <a class="text-center alert-toast nav-link" href="#">
            <span style="color:forestgreen;" class="message-span"></span>
        </a>
    </li>
</ul>
<ul class="navbar-nav">
    <li class="nav-item text-nowrap"><a style="color:green" class="nav-link" href="#"><span data-feather="user"></span> <b>{{ user.username }}</b></a></li>
</ul>
<ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap"><a style="color:red" class="nav-link" href="{% url 'accounts:logout' %}"><span data-feather="log-out"></span> <b>logout</b></a></li>
</ul>
{% endif %}